<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>627120854589-6fbkm9sne0udjeqjtthfo4j89jokka9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627120854589-6fbkm9sne0udjeqjtthfo4j89jokka9m</string>
	<key>API_KEY</key>
	<string>AIzaSyDM7J-BJsGp9cvYoPaRFp1xhBlX94zf1dA</string>
	<key>GCM_SENDER_ID</key>
	<string>627120854589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nMfpereirs.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-6286f</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-6286f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627120854589:ios:3be508b2e756cdc0</string>
	<key>DATABASE_URL</key>
	<string>https://uberclone-6286f.firebaseio.com</string>
</dict>
</plist>